:root{
  box-sizing: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  border-left: 0.5px solid rgba(0, 0, 0, 0.271);
  padding: 10px;
  border: 0px solid;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  color: #3e3e3e;
}

/* Heading (Time & Date)*/ 
.jumbotron {
  text-align: center;
  background-color: rgb(249, 108, 127);
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 5px rgba(91, 26, 34, 0.509);
  border-radius: 0px;
  border-bottom: 2.5px solid rgb(208, 208, 208);
}

.jumbotron h1 {
  font-family: 'Arial Rounded MT Bold', sans-serif;
  font-size: 52px;
  font-weight: bold;
  padding: 10px;
  border-bottom: 0.5px solid#ffffff89;
}

.jumbotron .lead {
  color: rgb(255, 211, 211);
  font-weight: bold;
}

.jumbotron #currentDay {
  padding-top: 10px;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: bold;
}

.description {
  white-space: pre-wrap;
}


/* Schedule */ 
.container .row p {
  font-size: 20px;
  margin-top: 17px;
  padding: auto;
  height: auto;
  font-family: 'Arial Rounded MT Bold', sans-serif;
} 

.time-block {
  text-align: center;
  border-radius: 30px;
}
.row{
  margin: 25px;
  height: 50px;
}

.hour {
  background-color: #ffffff;
  color: #3e3e3e;
  border: 0.5px dashed #3e3e3e;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  justify-content: center;
  text-align: center;

}

.past {
  background-color: #dddbdb;
  color: rgb(58, 58, 58);
}

.present {
  background-color: #93d6fd82;
  color: rgb(58, 58, 58);
}

.future {
  background-color: #bcfdbc;
  color: rgb(58, 58, 58);
}

/* Button */ 
.saveBtn {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: rgba(255, 76, 100, 0.824);
  color: white;
  justify-content: center;
  text-align: center;
}

.saveBtn:hover {
  background-color: rgba(231, 42, 67, 0.824);
}

.saveBtn:active {
  background-color: rgba(137, 42, 55, 0.348);
}

.cleanBtn{
  background-color: rgba(255, 76, 100, 0.824);
  color: white;
  justify-content: center;
  text-align: center;
}

.cleanBtn:hover {
  background-color: rgba(231, 42, 67, 0.824);
}

.cleanBtn:active {
  background-color: rgba(137, 42, 55, 0.348);
}